* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container_page {
  position: absolute;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  padding-top: 3.5%;
}

.container3 {
  width: 100%;
  height: 560px;
  background-color: #eef1eb;
  display: flex;
  align-items: center;
  /* Vertically centers the content */
  justify-content: space-between;
  /* Space between the left and right content */
  padding: 0 10%;
}

.container4 {
  height: 560px;
  width: 100%;
  background-color: #ffffff;
}

.teste {
  width: 100%;
  /* Adjust width to control the space within .container3 */
  display: flex;
  justify-content: space-between;
  /* Space out .frases_inicio and .slider_inicio */
  align-items: center;
  /* Center items vertically */
  padding: 40px;
}

.frases_inicio {
  max-width: 40%;
  text-align: left;
}

.titulo_inicio {
  text-transform: uppercase;
}

.titulo_inicio,
.subtitulo_inicio,
.btn_inicio {
  margin-bottom: 20px;
  /* Add spacing between elements */
}

.btn_inicio {
  padding: 10px 20px;
  /* Adjust padding for better button appearance */
  background-color: #333;
  color: #fff;
  border-radius: 5px 20px;
  border: none;
  cursor: pointer;
}

.btn_inicio:hover {
  background-color: #555;
}

.slider_inicio {
  max-width: 40%;
  height: auto;
  transform: translate(0%, 0%);
}

.slider_inicio .img_inicio {
  width: 100%;
  height: auto;
  object-fit: cover;

}

.slick-dots {
  bottom: -30px;
}

.slick-dots li button:before {
  color: #333;
}

.slick-dots li.slick-active button:before {
  color: #000;
}

.btn_inicio:hover {
  background-color: #555;
}