* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container_page {
  position: relative;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  padding-top: 3.5%;
  flex-wrap: wrap;
}

.container3 {
  width: 100%;
  height: 560px;
  background-color: #eef1eb;
  display: flex;
  align-items: center;
  /* Vertically centers the content */
  justify-content: space-between;
  /* Space between the left and right content */
  padding: 0 10%;
}



.teste {
  width: 100%;
  /* Adjust width to control the space within .container3 */
  display: flex;
  justify-content:  space-between;
  /* Space out .frases_inicio and .slider_inicio */
  align-items: center;
  /* Center items vertically */
  padding: 40px;
}

.frases_inicio {
  max-width: 40%;
  text-align: left;
}

.titulo_inicio {
  text-transform: uppercase;
}

.titulo_inicio,
.subtitulo_inicio,
.btn_inicio {
  margin-bottom: 20px;
  /* Add spacing between elements */
}

.btn_inicio {
  padding: 10px 20px;
  /* Adjust padding for better button appearance */
  background-color: #333;
  color: #fff;
  border-radius: 5px 20px;
  border: none;
  cursor: pointer;
}

.btn_inicio:hover {
  background-color: #555;
}

.slider_inicio {
  width: 100%;
  max-width: 40%;
  height: auto;
  transform: translate(0%, 0%);
}

.slider_inicio .img_inicio {
  width: 100%;
  height: auto;
  object-fit: cover;

}

.slick-dots {
  bottom: -30px;
}

.slick-dots li button:before {
  color: #333;
}

.slick-dots li.slick-active button:before {
  color: #000;
}

.btn_inicio:hover {
  background-color: #555;
}


.container4 {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  overflow-y: auto;
}

.v{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.caixa{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px 50px;
  flex-wrap: wrap;
  top: 120px;
}

.caixa .carde{
  position: relative;
  width: 360px;
  height: 300px;

  background-color: red;
}

@media (max-width: 870px) {

  .container4{
    height: auto;
    padding: 1rem;
  }

  .caixa {
    gap: 50px 25px; /* Reduz o espaçamento entre os cartões */
  }

  .carde {
    width: 100%; /* Faz com que os cartões ocupem 100% da largura disponível */
    max-width: 360px; /* Define um tamanho máximo para os cartões */
  }
}

@media (max-width: 570px) {
  .caixa {
    gap: 20px 10px; /* Reduz ainda mais o espaçamento entre os cartões */
  }

  .carde {
    width: 100%; /* Garante que os cartões ocupem a largura completa da tela */
    max-width: 100%; /* Remove a restrição de tamanho máximo */
  }
}