* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  min-height: 100vh;
  overflow: hidden;
}

.texto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  text-align: center;
  color: #000000;
}


@media screen and (max-width: 870px) {

  main {
    justify-content: center;
    align-items: center;
    min-height: 800px;
    height: 100vh;
    transform: translate(0%, 0%);
  }

  .texto {
    transform: translate(-50%, -50%);
    display: flex;
    /* Adiciona flexbox ao container */
    flex-direction: column;
    /* Alinha os itens em coluna */
    justify-content: flex-start;
    /* Alinha o conteúdo ao topo */
    align-items: center;
    /* Centraliza horizontalmente o parágrafo */
    padding: 3px;
    /* Adiciona um padding para espaçamento interno */
    position: relative;
    height: 554px;
    width: 1318px;
  }

  p {

    margin: 0;
    /* Remove margens do parágrafo */
    line-height: 1.2;
    /* Define o espaçamento entre linhas para uniformidade */
    max-width: 300px;
    /* Limita a largura do parágrafo para melhor legibilidade */
  }
}

@media screen and (max-width: 570px) {}